<html>
	<body>	
		<a href="{%url 'travels:index'%}">Home</a>
		<a href="{%url 'users:logout' %}">Logout</a>

		{% for msg in messages %}
			<p>{{msg}}</p>
		{% endfor %}

		<h2>Add a Trip</h2>
		<form action="{%url 'travels:create_trip'%}" method='post'>
			{% csrf_token %}
			<p>Destination<input type=text name='dest'></p>
			<p>Description<input type=text name='desc'></p>
			<p>Travel Date From <input type=date name='start'></p>
			<p>Travel Date To <input type=date name='end'></p>
			<p><input type=submit vaue='Add'></p>
		</form>
	</body>
</html>
